<div class="container my-5">
    <h1 class="text-center mb-4">Danh sách khách hàng</h1>
    <a href="/Admin/Client/Create" class="btn btn-primary my-3">Tạo khách hàng</a>
    <table id="ClientTable" class="table table-striped table-bordered pt-5" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Chức năng</th>
            </tr>
        </thead>
    </table>
</div>