@model HotelManage_LTDD.Models.HotelArea

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg" style="width: 30rem;">
        <div class="card-header">
            <h4 class="mb-0">Tạo Khu Vực Mới</h4>
        </div>
        <div class="card-body">
            <form asp-area="Admin" asp-action="Create" asp-controller="Area" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Tên khu vực:</label>
                    <input asp-for="Name" class="form-control" placeholder="Nhập tên khu vực" required autocomplete="organization" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary form-control my-1">Tạo khu vực</button>
                    <a href="/Admin/Area" class="btn btn-secondary form-control my-1">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
