<div class="container my-5">
    <h1 class="text-center mb-4">Danh sách ưu đãi</h1>
    <a href="/Admin/Voucher/Create" class="btn btn-primary my-3">Tạo ưu đãi</a>
    <table id="VoucherTable" class="table table-striped table-bordered pt-5">
    <thead class = "table-dark">
        <tr>
            <th>STT</th>
            <th>Tên Voucher</th>
            <th>Mã Voucher</th>
            <th>Chiết khấu</th>
            <th>Số lượng</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <!-- Nội dung sẽ được DataTables tự động xử lý qua AJAX -->
    </tbody>
</table>
</div>