<div class="container my-5">
    <h1 class="text-center mb-4">Danh sách phòng</h1>
    <a href="/Admin/Room/Create" class="btn btn-primary my-3">Tạo phòng</a>
    <table id="RoomTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead class="table-dark">
            <tr>
                <th>STT</th>
                <th>Số phòng</th>
                <th>Loại phòng</th>
                <th>Khu vực</th>
                <th>Giá (VND)</th>
                <th>Trạng thái</th>
                <th>Giảm giá(%)</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dữ liệu sẽ được nạp qua Ajax -->
        </tbody>
    </table>
</div>