@model HotelManage_LTDD.Models.Area

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow" style="width: 30rem;">
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Name</h5>
            <a href="@Url.Action("Index", "Area")" class="btn btn-primary mt-3">Quay lại</a>
        </div>
    </div>
</div>
