@model HotelManage_LTDD.Models.RoomType

<div class="d-flex justify-content-center align-items-center ">
    <div class="card shadow-lg" style="width: 30rem; border-radius: 15px;">
        <!-- Card Header -->
        <div class="card-header ">
            <h5 class="card-title ">Tạo loại phòng mới</h5>
        </div>
        <div class="card-body">
            <form asp-area="Admin" asp-action="Create" asp-controller="RoomType" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Tên loại phòng:</label>
                    <input asp-for="Name" class="form-control" placeholder="Nhập tên loại phòng" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="People" class="form-label">Số người tối đa:</label>
                    <input asp-for="People" class="form-control" type="number" placeholder="Nhập số người tối đa" required />
                    <span asp-validation-for="People" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Mô tả:</label>
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Nhập mô tả loại phòng" required></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ImageUrl" class="form-label">Hình ảnh:</label>
                    <input asp-for="ImageUrl" class="form-control" type="file" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary">Tạo phòng</button>
                </div>
            </form>

            <div class="d-grid">
                <a asp-area="Admin" asp-action="Index" asp-controller="RoomType" class="btn btn-secondary form-control">Hủy</a>
            </div>
        </div>
    </div>
</div>
